@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Footer CSS Starts From Here */

.footer-containerAK {
  background-color: #2E2E2E;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-textAK {
  color: white;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-containerAK {
    padding: 15px;
  }

  .footer-textAK {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-containerAK {
    padding: 10px;
  }

  .footer-textAK {
    font-size: 10px;
  }
}